-#= form_tag search_elections_path, :method => 'get', :id => 'search_form' do
-#  %p
-#    = text_field_tag :search, params[:search], :size => 40
-#    = submit_tag "Search", :name => nil

.people_search
  = form_tag search_votes_path, :method => :get, :id => 'search_form' do 
    %table
      %tr
        %td
          = link_to image_tag("shome.png", :border=>0), "http://voteulhasnagar.com", :id => "search_button"
          = text_field_tag :search, params[:search], :size => 40, :placeholder => "Enter search term..."
          = image_submit_tag("ssearch.png", :class => 'search_button')
