!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=ISO-8859-1", "http-equiv" => "Content-Type"}/
    %title Vote
    = stylesheet_link_tag "search.css", 'jquery-ui.css', "default.css"
    = javascript_include_tag "application", "jquery.js", "jquery-ui.js"
    /[if lte IE 6]
      <style>
      \#content{margin-left:-40px;}
      \#rightside{margin-right:0px;margin-left:-43px;}
      \#sidebar{margin-left:-30px;padding:0 40px 0 40px;}
      \#sidebar ul.nav{margin:10px -20px;padding:0}
      \#sidebar h1,#sidebar h3{margin-right:-30px;}
      \#content ul{padding-left:20px;list-style-position:outside;}
      \#footer ul{margin-left:20px;}
      \#footer li{margin:-1 0;}
      \#footer .footer_links{margin-bottom:0;padding-bottom:1px;}
      \#footer li.top_link{padding-bottom:20px;}
      \#footer .ie_foot{position:relative;top:20px;}
      </style>
    /[if IE 7]
      <style>
      \#sidebar{margin-left:-20px;padding:0 60px 0 20px;}
      \#sidebar ul.nav{margin:0 -20px;padding:0}
      \#sidebar h1,#sidebar h3{margin-right:-30px;}
      \#content ul{padding-left:20px;list-style-position:outside;}
      \#footer ul{margin-left:40px;}
      \#footer li a{margin:-1px 0 0 0;}
      \#footer .footer_links{margin-bottom:0;}
      \#footer .ie_foot{position:relative;top:30px;}
      </style>
  %body
    #left
      %br
        %br
          %br
            %br
              \   
              %a
                %img{:alt => "Slide 1", :height => "60", :src => "../images/kyc.png", :width => "170"}/
              %br
                %br
                  \   
                  %a{:href => "panel1-10.html"}
                    %img{:alt => "Slide 1", :height => "30", :src => "../images/panel1-10.png", :width => "170"}/
                  %br
                    %br
                      \   
                      %a{:href => "panel11-20.html"}
                        %img{:alt => "Slide 1", :height => "30", :src => "../images/panel11-20.png", :width => "170"}/
                      %br
                        %br
                          \   
                          %a{:href => "panel21-30.html"}
                            %img{:alt => "Slide 1", :height => "30", :src => "../images/panel21-30.png", :width => "170"}/
                          %br
                            %br
                              \   
                              %a{:href => "panel31-39.html"}
                                %img{:alt => "Slide 1", :height => "30", :src => "../images/panel31-39.png", :width => "170"}/
    #container
      #rightside
        #title
          %p
      #content
        = yield
      #footer
        .ie_foot{:align => "center"}
          %br
            %br
              %br
                %br
                  %br
                    %br
                      %br
                        %br
                          %br
                            %br
                              %br
                                %p
                                  %a{:href => "www.standingcoin.com"} Concept, Design and Development by SCCS
                                  %br
                                    %a
                                      For Candidate's Details on right side of this page contact Hi-Tech Computers - 9822018644
